@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h1 class="custom_heading">
                            Sistema
                            <span>
                                Bibliotecario
                            </span>
                        </h1>
                    </div>
                    <div>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Login">Iniciar Sesión</a>
                        </li>   *@
                    </div>  
                </div>
                <div class="row">
                    <div class="text-center">
                        <div class="img-box" >
                            <img src="~/Recursos/001.jpg" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>
